@font-face {
    font-family: 'Fraunces144';
    src: url('../../assets/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('../../assets/Manrope-Regular.ttf');
}

:root { 
    --fraunces-font-family: 'Fraunces144', serif;
    --manrope-font-family: 'Manrope', sans-serif;

    --dark-purple-color: hsl(273, 85%, 13%);
    --eucalyptus-color: hsl(150, 100%, 63%);
    --davy-grey-color: hsl(271, 12%, 34%);
    --ghost-white-color: hsl(276, 100%, 99%);
    --white-color: hsl(0, 0%, 100%);

    --header-max-width-wrapper: 21.4375rem; 
    --hero-max-width-wrapper: 21.4375rem;
    --offer-max-width-wrapper: 21.4375rem;

    --hero-section-height: 26rem;
    --offer-section-height: 37.6875rem;
    --offer-box-width: 21.4375rem;
    --phone-image-width: 20rem;
    --avatar-picture-width: 17.65625rem;
    --curved-shape-height: 4.5rem;
    --delta-height: 1.5rem;

    --heading-large-size: 3.125rem;
    --heading-large-line: 1;

    --heading-medium-size: 2rem;
    --heading-medium-line: 1.5;

    --heading-small-size: 1.75rem;
    --heading-small-line: 1.29;

    --list-number-size: 1.25rem;
    --list-number-line: 1.8;

    --paragraph-size: 1rem;
    --paragraph-line: 1.75;

    --link-size: 1rem;
    --link-line: 2;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--manrope-font-family);
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-line);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--fraunces-font-family);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--heading-large-size);
    line-height: var(--heading-large-line);
}

h2 {
    font-size: var(--heading-medium-size);
    line-height: var(--heading-medium-line);
}

h3 {
    font-size: var(--heading-small-size);
    line-height: var(--heading-small-line);
}

a {
    font-size: var(--link-size);
    line-height: var(--link-line);
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.01125rem;
}

.button--primary {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    color: var(--dark-purple-color);
    background: var(--eucalyptus-color);
}

.button--primary:hover {
    color: var(--eucalyptus-color); 
    background: var(--dark-purple-color);
    border: 2px solid var(--eucalyptus-color);
    padding: 0.65rem 1.4rem;
}

.button--secondary, 
.hero__heading span {
    display: inline-block;
    border-bottom: 4px solid var(--eucalyptus-color);
}


.button--secondary:hover {
    color: var(--eucalyptus-color); 
}

.header {
    position: relative;
    background-color: var(--dark-purple-color);
    z-index: 20;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: var(--header-max-width-wrapper);
    margin: 0 auto;
    padding: 2rem 1rem 0 1rem;

}

/* Hero styles */
.hero {
    padding: 4rem 0 0 0;
    background-color: var(--dark-purple-color);
    color: var(--white-color);
    height: calc(var(--hero-section-height) - var(--delta-height));
    text-align: center;
    position: relative;
    overflow-x: clip;
}

.hero::after {
    content: "";
    display: block;
    z-index: 0;
    bottom: -20;
    position: absolute;
    background: var(--dark-purple-color);
    width: 100%;
    height: var(--curved-shape-height);
    border-radius: 50%;
    transform: scale(1.3);
}


.hero__wrapper {
    max-width: var(--hero-max-width-wrapper);
    margin: 0 auto;
}

.hero__button {
    margin: 2.5rem 2.5rem 0 2.5rem;
    position: relative;
    z-index: 10;
}

.hero__image {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: var(--phone-image-width);
    height: auto;
    z-index: 100;
    top: 85%;
}

/* Insights styles */
.insights {
    padding: 10rem 0 0.1rem 0;
    background: var(--ghost-white-color);
    z-index: -1;
    position: relative;
    overflow-x: clip;
}

.insights::after {
    content: "";
    display: block;
    z-index: 0;
    bottom: -20;
    position: absolute;
    background: var(--ghost-white-color);
    width: 100%;
    height: var(--curved-shape-height);
    border-radius: 50%;
    transform: scale(1.3);
}

.insights__list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: insights-counter;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
}

.insights__item {
    counter-increment: insights-counter;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    position: relative;
}

.insights__item::before {
    content: counter(insights-counter);
    font-family: var(--fraunces-font-family);
    font-size: var(--list-number-size);
    line-height: var(--list-number-line);
    display: inline-flex;
    width: 3rem;
    height: 2.875rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--dark-purple-color);
    border: 1.5px solid var(--davy-grey-color);
}

.insights__heading {
    margin: 1.5rem 0 1rem 0;
}

.insights__paragraph {
    font-weight: 400;
}


/* offer styles */
.offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: var(--offer-max-width-wrapper);
    height: var(--offer-section-height);
    margin: 8.268125rem auto;
}

.offer__wrapper {
    position: relative;
    background-color: var(--dark-purple-color);
    color: var(--white-color); 
    width: var(--offer-box-width);
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.offer__avatar {
    width: var(--avatar-picture-width);
    position: absolute;
    top: 0;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
    z-index: -1;
}

.offer__paragraph {
    margin: 1rem 0 1.5rem 0;
    font-weight: 400;
}


/* Footer styles */
.footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 4.625rem 0 3.98625rem 0;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 7.25rem;
    height: 6.38rem;
    justify-content: space-between;
    align-items: center;

}

.footer__social {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__social > *:hover {
    filter: brightness(0) saturate(100%) invert(10%) sepia(17%) saturate(6386%) hue-rotate(251deg) brightness(95%) contrast(114%);
}


/* Tablet breakpoint */
@media screen and (min-width: 48em) {
    :root {
        --header-max-width-wrapper: 43.0625rem;
        --hero-max-width-wrapper: 25.4375rem;
        --offer-max-width-wrapper: 43.0625rem;
        --insights-max-width-wrapper: 30.8125rem;
        --curved-shape-height: 10rem;

        --hero-section-height: 29.53125rem;
        --offer-box-width: 32.125rem;

        --offer-section-height: 32.875rem;

        --phone-image-width: 32.125rem;

        --list-item-multiplier: 4rem;

        --heading-large-size: 3.75rem;

        --heading-medium-size: 3rem;
        --heading-medium-line: 1.167;
    
        --heading-small-size: 1.75rem;
        --heading-small-line: 1.29;
    
        --paragraph-size: 1rem;
        --paragraph-line: 1.75;

        --link-size: 1rem;
        --link-line: 2;
    }

    .hero {
        padding: 3.5rem 0 0 0;
    }

    .hero__wrapper::before {
        position: absolute;
        content: "";
        width: 18.893125rem;
        height: 15.44375rem;
        left: -180;
        top: 60;
        background: left / cover no-repeat url('../../assets/bg-pattern-1.svg');
        z-index: 20;
    }

    .hero__wrapper::after {
        position: absolute;
        content: "";
        right: -4.25rem;
        top: 15rem;
        width: 8.85625rem;
        height: 7.644375rem;
        background: right / cover no-repeat url('../../assets/bg-pattern-2.svg');
        z-index: 20;
    }
    
    .hero__image {
        top: 75%;
    }

    .insights {
        padding: 14rem 0 1rem 2rem;
    }

    
    .insights__list {
        max-width: var(--insights-max-width-wrapper);
        text-align: left;
    }

    .insights__item::before {
        position: absolute;
        left: calc(-1 * var(--list-item-multiplier) - 1rem);
        top: 50%;
        transform: translateY(-50%);
    }

    .offer {
        margin: 9.25rem auto 0 auto;
        align-items: flex-end;
    }

    .offer__wrapper {
        text-align: left;
        padding: 3rem 3.5rem 3.5rem 3.5rem;
        margin: 0;
    }


    .offer__wrapper::after {
        position: absolute;
        content: "";
        width: 18.893125rem;
        height: 15.44375rem;
        right: -40;
        bottom: -120;
        background: left / contain no-repeat url('../../assets/bg-pattern-3.svg');
        z-index: 20;
    }

    .offer__avatar {
        left: -5%;
        top: -43%;
    }

    .footer {
        margin: 5rem 0 7.5625rem 0;
    }
}

/* Desktop breakpoint */
@media screen and (min-width: 90em) {
    :root {
        --header-max-width-wrapper: 69.375rem;
        --hero-max-width-wrapper: 39.6875rem;
        --offer-max-width-wrapper: 69.375rem;
        --insights-max-width-wrapper: 69.625rem;

        --curved-shape-height: 15rem;

        --hero-section-height: 40rem;
        --hero-wrapper-width: 39.6875rem;

        
        --phone-image-width: 47.9375rem;
        
        --offer-box-width: 45.625rem;
        
        --avatar-picture-width: 29.8125rem;
        
        --heading-large-size: 5rem;

        --heading-medium-size: 3.5rem;
        --heading-medium-line: 1.143;
    
        --heading-small-size: 2rem;
        --heading-small-line: 1.25;
    
        --paragraph-size: 1.125rem;
        --paragraph-line: 1.78;

        --link-size: 1.125rem;
        --link-line: 1.78;
    }

    .hero {
        padding: 3.4375rem 0 0 0;
    }

    .hero__image {
        top: 65%;
    }

    .insights {
        padding: 15rem 0 0.3rem 0;
    }

    .insights__list {
        max-width: var(--insights-max-width-wrapper);
        margin: 4rem auto;
        text-align: center;
        display: flex;
    }

    .insights__item {
        flex-basis: 20rem;
    }

    .insights__item::before {
        position: static;
    }
    
    .offer {
        margin: 21rem auto 0 auto;
        align-items: flex-end;
    }

    .offer__wrapper {
        padding: 4rem; 
    }

    .offer__avatar {
        left: -20%;
        top: -80%;
    }

    .footer {
        margin: 7.5625rem 0 6.875rem 0;
    }
}
